### IntelliJ IDEA (CRÍTICO - AGREGADO) ###
.idea/
*.iws
*.iml
*.ipr

### Compilados y Build ###
out/
build/
target/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac OS ###
.DS_Store

### Otros IDEs (Por seguridad) ###
# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
# --- Archivos Temporales y de Office ---
*.tmp
*.log
~$*
~*
### Base de Datos (SQLite) - ¡CRÍTICO! ###
# Ignorar estos es vital para no tener conflictos binarios
*.db
*.sqlite
*.sqlite3
flip7.db

### Windows (Basura del sistema) ###
Thumbs.db
Desktop.ini

### Logs de errores de Java ###
hs_err_pid*